<h1>Vegetarian Restaurant Search</h1>

<%= form_tag search_dishes_path, :method => 'post' do %>
  
<ul class="search">
  <li class="label"><%= label_tag(:q, "Food Your Craving") %></li>
  <%= text_field_tag :name, params[:name] %></li>
</div>

  <li class="label"><%= label_tag(:q, "City") %></li>
  <li><%= text_field_tag :city, params[:city] %></li>


  <li><%= submit_tag "Search" %></li>
</ul>
<% end %>


<!--<%= link_to 'New Dish', new_dish_path %>-->
